.card {
  background: var(--color-background-card);

  &.dark {
    background: var(--color-background-card-dark);
  }

  border-radius: rem(8);
  padding: rem(64);
  overflow: hidden;
  display: grid;
  grid-template: 1fr auto auto / 1fr;
  gap: rem(48) 0;
  height: 100%;
  width: 100%;
  position: relative;

  &:has(>.card--topic) {
    grid-template: auto 1fr auto auto / 1fr;
    gap: rem(12) 0;


    .card--title {
      font-size: rem(20);
    }

    .card--text {
      font-size: rem(14);
    }
  }

  &--label {
    color: var(--accent, var(--color-text-secondary));
    display: flex;
    align-items: center;
    height: min-content;
    vertical-align: middle;
    font-size: rem(14);
    gap: rem(12);
    text-transform: uppercase;

    .borderless & {
      position: absolute;
      top: rem(64);
      left: rem(64);
    }

    .icon {
      font-size: rem(24);
    }
  }

  .accent {
    color: var(--accent, var(--color-text-primary));
  }

  h1 {
    font-size: rem(48);
  }

  &--title {
    .force-wrap {
      width: 100%;
    }

    .no-wrap {
      display: flex;
      align-items: center;
    }


    .icon-button {
      margin-left: 0.5em;
    }
  }

  &--text {
    color: var(--color-text-secondary);
  }

  &:not(.borderless)::before {
    content: '';
    display: block;
    position: absolute;
    background: var(--accent, var(--color-text-primary));
    border-radius: rem(2);
    width: rem(4);
    top: rem(9);
    left: rem(9);
    bottom: rem(9);
  }
}

img.card {
  padding: 0;
  object-fit: cover;
}