@use "variables";
@use "typography";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

html {
  background: var(--color-background);
  color: var(--color-text-primary);
  font-family: 'Sora';
  font-weight: 400;
}

main {
  margin: calc(var(--common-gap) * 2 + rem(56)) var(--common-gap) 0 var(--common-gap);
}

button {
  appearance: none;
  font-family: inherit;
  color: inherit;
}

.glass {
  background: rgb(71, 71, 71, .36);
  backdrop-filter: blur(28px);
}

@import 'boneless-components/Card';